<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/clean-blog.min.css') }}">
    <title>Hello, Flask!</title>
</head>

<body>
    <nav class="navbar">
    <!-- class impoterd from Bootstrap -->
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><a href="{{ url_for('careers') }}">Careers</a></li>
            <!-- In order for our navigation links to work, we need use the Jinja templating method -->
            <!-- This method is 'url_for' and it calls the appropriate functions -->
            <!-- The url_for() function looks up the appropriate view ['index()', 'about()', 'contact()', 'careers()'] -->
        </ul>
    </nav>

    {% block content %}
    <!-- Here is where the specific code, for each page referring to this template, gets inserted -->
    {% endblock %}

</body>

</html>